Task 1: 

Given dictionary items: 

inventory = { 

    'gold' : 500, 

    'pouch' : ['flint', 'twine', 'gemstone'], 

    'backpack' : ['xylophone','dagger', 'bedroll','bread loaf'] 

} 

 

Perform Following tasks: 

Add a key to inventory called 'pocket'. 

Set the value of 'pocket' to be a list consisting of the strings 'seashell', 'strange berry', and 'lint'. 

Sort items in the list stored under the 'backpack' key. 

Remove('dagger') from the list of items stored under the 'backpack' key.

In [ ]:
inv = {'gold' : 500,
    'pouch' : ['flint', 'twine', 'gemstone'],
    'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']}

inv.update({'pocket':['seashell', 'strange berry','lint']})
print(inv)
a = inv['backpack']
a.sort()
inv['backpack'] = a
print(inv)
a.remove('dagger')
inv['backpack'] = a
print(inv)

{'gold': 500, 'pouch': ['flint', 'twine', 'gemstone'], 'backpack': ['xylophone', 'dagger', 'bedroll', 'bread loaf'], 'pocket': ['seashell', 'strange berry', 'lint']}
{'gold': 500, 'pouch': ['flint', 'twine', 'gemstone'], 'backpack': ['bedroll', 'bread loaf', 'dagger', 'xylophone'], 'pocket': ['seashell', 'strange berry', 'lint']}
{'gold': 500, 'pouch': ['flint', 'twine', 'gemstone'], 'backpack': ['bedroll', 'bread loaf', 'xylophone'], 'pocket': ['seashell', 'strange berry', 'lint']}


Task 2: 

Create a new dictionary called prices using these values. 

"Banana": 45 

"Apple": 200 

"Orange": 150 

"Pear": 120 

 

Create a new dictionary called stock using these values. 

"Banana"= 6 

"Apple"= 0 

"Orange" =32 

"Pear"= 15 

 

 

For each key, print out the key along with its price and stock information.  

Print the answer in the following format: 

apple 

price: 2 

stock: 0 

 

 

Determine how much money you would make if you sold all of your food. 

Create a variable called total and set it to zero. 

For each key in prices, multiply the number in prices by the number in stock. And find the total.

In [ ]:
prices = {"Banana": 45,
          "Apple": 200,
          "Orange": 150,
          "Pear": 120   }
    
stock = {"Banana": 6,
         "Apple":0,
         "Orange":32,
         "Pear": 15    }

total = 0
for i in prices.keys():
  for j in stock.keys():
    if i == j:
      print(i)
      p = prices.get(i)
      s = stock.get(i)
      print("Price: ", p)
      print("Stock: ", s)

      total += p*s
      
print("The total is: ", total)

Banana
Price:  45
Stock:  6
Apple
Price:  200
Stock:  0
Orange
Price:  150
Stock:  32
Pear
Price:  120
Stock:  15
The total is:  6870

Task 3:  

Create three dictionaries: lloyd, alice, and ritchie. 

Give each dictionary the keys "name", "homework", "quizzes", and "tests". 

Have the "name" key be the name of the student (that is, lloyd's name should be "Lloyd")  

Example :  lloyd = { 

  "name": "Lloyd", 

  "homework": [90.0,97.0,75.0,92.0], 

  "quizzes": [88.0,40.0,94.0], 

  "tests": [75.0,90.0] 

} 

3.1. Write a function average that takes a list of numbers and returns the average. 

Define a function called average that has one argument, numbers. 

Inside that function, call the built-in sum() function with the numbers list as a parameter. Store the result in a variable called total. 

Use float() to convert total and store the result in total. 

Divide total by the length of the numbers list. Use the built-in len() function to calculate that.Return that result. 

 

3.2. Write a function called get_average that takes a student dictionary (like  lloyd, alice, and ritchie) as input and returns his/her weighted average. 

 

3.3. Define a new function called get_letter_grade that has one argument called score.  

Inside function, test score using a chain of if: / elif: / else: statements, like so: 

If score is 250 or above: return "A" 

Else if score is 200 or above: return "B" 

Else if score is 150 or above: return "C" 

Else if score is 100 or above: return "D" 

Otherwise: return "F" 

Finally, test your function. Call your get_letter_grade function with the result of get_average(lloyd). Print the resulting letter grade.

In [ ]:
def average(num):
  total = float(sum(num))
  l = len(num)
  avg = total/l
  return avg
  
def get_average(student):
  sum = 0
  for i in student.keys():
    sum += average(student.get(i))
  return sum

def get_letter_grade(score):
  if score >= 250:
    return "A"
  elif score >= 200:
    return "B"
  elif score >= 150:
    return "C"
  elif score >= 100:
    return "D"
  else:
    return "F"
   

lloyd = {
  "homework": [90.0,97.0,75.0,92.0],
  "quizzes": [88.0,40.0,94.0],
  "tests": [90.0,90.0]
}

alice = {
  "homework": [94.0,91.0,79.0,82.0],
  "quizzes": [78.0,50.0,64.0],
  "tests": [85.0,95.0]
}

richtie = {
  "homework": [80.0,77.0,75.0,62.0],
  "quizzes": [68.0,60.0,54.0],
  "tests": [65.0,60.0]
}


print("LLOYD'S GRADE: ", get_letter_grade(get_average(lloyd)))
print("ALICE'S GRADE: ", get_letter_grade(get_average(alice)))
print("RITCHIE'S GRADE: ", get_letter_grade(get_average(richtie)))

LLOYD'S GRADE:  A
ALICE'S GRADE:  B
RITCHIE'S GRADE:  C

Task 4:   

Write a Python program to remove duplicates from the following dictionary 

Example :  

Input: {'a': 'apple', 'b': 'banana', 'c': 'coconut', 'd': 'dragonfruit', 'e': 'apple', 'f': 'banana', 'g': 'guava'} 

Output:{'a': 'apple', 'b': 'banana', 'c': 'coconut', 'd': 'dragonfruit', 'g': 'guava'}

In [ ]:
s1 = {'a': 'apple', 'b': 'banana', 'c': 'coconut', 
     'd': 'dragonfruit', 'e': 'apple', 'f': 'banana', 
     'g': 'guava'}

r1 = {}

for key,value in s1.items():
    if value not in r1.values():
        result[key] = value


print("Input: ", s1)
print("Output: ", r1)

Input:  {'a': 'apple', 'b': 'banana', 'c': 'coconut', 'd': 'dragonfruit', 'e': 'apple', 'f': 'banana', 'g': 'guava'}
Output:  {'a': 'apple', 'b': 'banana', 'c': 'coconut', 'd': 'dragonfruit', 'g': 'guava'}

Task 5 :  

Write a Python program to combine and create a dictionary from two other dictionaries by  adding their values for common keys. 

Example :  

Input: 

D1 = {'apple': 1800, 'banana': 2500, 'coconut': 4300} 

D2 = {'apple': 3000, 'banana': 2000, 'grapes': 4000} 

Output:  

{'apple': 4800, 'banana': 4500, 'coconut': 4300, 'grapes': 4000}

In [ ]:
from collections import Counter

s1 = {'apple': 1800, 'banana': 2500, 'coconut': 4300}
s2 = {'apple': 3000, 'banana': 2000, 'grapes': 4000}

s3 = Counter(s1) + Counter(s2)

print("Input: ",s1)
print("       ",s2)
print("Output: ", s3)

Input:  {'apple': 1800, 'banana': 2500, 'coconut': 4300}
        {'apple': 3000, 'banana': 2000, 'grapes': 4000}
Output:  Counter({'apple': 4800, 'banana': 4500, 'coconut': 4300, 'grapes': 4000})

Task 6 :  

Write a Python program to create a dictionary from a string. 

Input: 

string: Programming 

Output:  

{'P': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [ ]:
s = "Programming"
d = {}

for i in s:
  d[i] = d.get(i, 0) + 1

print(d)

{'P': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

Task 7: 

Write a program to input your friends names and their Phone Numbers and store them in the dictionary as the key-value pair. (take 5 key value pair) 

Perform the following operations on the dictionary: 

a) Display the name and phone number of all your friends 

b) Add a new key-value pair in this dictionary and display the modified dictionary 

c) Delete a particular friend from the dictionary 

d) Modify the phone number of an existing friend 

e) Check if a friend is present in the dictionary or not 

f) Display the dictionary in sorted order of names

In [ ]:
phone_book = {'G':9378729742, 'B':8487589072, 'E': 9737291373, 
              'X': 7877333821, 'M': 9011233493}
print(phone_book)

phone_book.update({'A': 7743337752})
print(phone_book)

del phone_book['M']
print(phone_book)

phone_book.update({'G':9999899991})
print(phone_book)

c = input("Enter a friend's name to check for presence in phonebook: ")
if c in phone_book.keys():
  print("{} is present in the phonebook".format(c))
else:
  print("{} is not present in the phonebook".format(c))

print(dict(sorted(phone_book.items())))

{'G': 9378729742, 'B': 8487589072, 'E': 9737291373, 'X': 7877333821, 'M': 9011233493}
{'G': 9378729742, 'B': 8487589072, 'E': 9737291373, 'X': 7877333821, 'M': 9011233493, 'A': 7743337752}
{'G': 9378729742, 'B': 8487589072, 'E': 9737291373, 'X': 7877333821, 'A': 7743337752}
{'G': 9999899991, 'B': 8487589072, 'E': 9737291373, 'X': 7877333821, 'A': 7743337752}
Enter a friend's name to check for presence in phonebook: A
A is present in the phonebook
{'A': 7743337752, 'B': 8487589072, 'E': 9737291373, 'G': 9999899991, 'X': 7877333821}

Task 8: 

Write a Python Program to Create a Dictionary with Key as First Character and Value as Words Starting with that Character. 

Example: 

Input: 

string: i love grapes guava watermelon pineapple pear mango 

Output:  

{'i': ['i'], 'l': ['love'], 'g': ['grapes', 'guava'], 'w': ['watermelon'], 'p': ['pineapple', 'pear'], 'm': ['mango']}

In [ ]:
s = "i love grapes guava watermelon pineapple pear mango"

words = s.split()

d = {}

for word in words:
	if (word[0] not in d.keys()):
		d[word[0]] = []
		d[word[0]].append(word)
	else:
		if (word not in d[word[0]]):
			d[word[0]].append(word)

print("Input: ",s)
print("Output: ",d)

Input:  i love grapes guava watermelon pineapple pear mango
Output:  {'i': ['i'], 'l': ['love'], 'g': ['grapes', 'guava'], 'w': ['watermelon'], 'p': ['pineapple', 'pear'], 'm': ['mango']}

Task 9: 

List of participants in events A and B 

A → John, Olive,Alfie,Oscar,Ella,William,Harry. 

B → Edward, Julia, Robert, Olive,Alfie,Ella. 

Find out which members attended both events. 

Find out which members attended only one of the events. 

Find out which members attended only one event and not the other. 

Receive a list of all participants

In [ ]:
events = {'A':['John', 'Olive','Alfie','Oscar','Ella','William','Harry'], 
          'B': ['Edward', 'Julia', 'Robert', 'Olive','Alfie','Ella']}

same = []
a = events.get('A')
b = events.get('B')

for i in a:
  for j in b:
    if i in j:
      same.append(i)
        
for i in same:
  if i in a:
    a.remove(i) 
  if i in b:
    b.remove(i)


print("Attended both events: ", same)
print("Attended only one events: ", a + b)
print("All the participants are: ", same + a + b)

Attended both events:  ['Olive', 'Alfie', 'Ella']
Attended only one events:  ['John', 'Oscar', 'William', 'Harry', 'Edward', 'Julia', 'Robert']
All the participants are:  ['Olive', 'Alfie', 'Ella', 'John', 'Oscar', 'William', 'Harry', 'Edward', 'Julia', 'Robert']

Task 10: 

S1 = {'purple', 'red', 'blue', 'black',pink,’yellow’,’orange’,’white’} 

S2= {'yellow', 'orange', 'black',’purple’,’pink’,’brown’} 

S3 ={'pink', 'purple',’orange’} 

10.1 Write a Python Program to Check if a set is a subset of another set. 

10.2 Write a Python program to  Check if sets are superset of each other.

In [ ]:
S1 = {'purple', 'red', 'blue', 'black','pink','yellow','orange','white'}
S2= {'yellow', 'orange', 'black','purple','pink', 'brown'}
S3 ={'pink', 'purple','orange'}

#10.1
print("S1 is subset of S2: ",S1.issubset(S2))
print("S1 is subset of S3: ",S1.issubset(S3))
print("S2 is subset of S3: ",S2.issubset(S3))
print("S2 is subset of S1: ",S2.issubset(S1))
print("S3 is subset of S2: ",S3.issubset(S2))
print("S3 is subset of S1: ",S3.issubset(S1))
print()
#10.2
print("S1 is superset of S2: ",S1.issuperset(S2))
print("S1 is superset of S3: ",S1.issuperset(S3))
print("S2 is superset of S1: ",S2.issuperset(S1))
print("S2 is superset of S3: ",S2.issuperset(S3))
print("S3 is superset of S1: ",S3.issuperset(S1))
print("S3 is superset of S2: ",S3.issuperset(S2))

S1 is subset of S2:  False
S1 is subset of S3:  False
S2 is subset of S3:  False
S2 is subset of S1:  False
S3 is subset of S2:  True
S3 is subset of S1:  True

S1 is superset of S2:  False
S1 is superset of S3:  True
S2 is superset of S1:  False
S2 is superset of S3:  True
S3 is superset of S1:  False
S3 is superset of S2:  False