##Task 1:   

Program to demonstrate data type in python.  

1.1 Program to print basic data type of given variable  

i. a = 5		 ii. a = 2.0 	iii. a = 1+2j 	iv. a = ‘NMIMS’

In [ ]:
a=5
print (type(a))

a=2.0
print (type(a))

a=1+2
print (type(a))

a='NMIMS'
print(type(a))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>

##Task 2:   

Write a Python Program to the roots of a Quadratic Equation. d = b2 - 4ac

In [ ]:
import cmath
print("ENTER THE VALUE FOR a, b and c IN THE QUADRATIC EQUATION")
a=int(input("a="))
b=int(input("b="))
c=int(input("c="))
d= (b**2)-(4*a*c)
r1= (-b - cmath.sqrt(d))/2*a
r2= (-b + cmath.sqrt(d))/2*a
print ("THE ROOTS ARE-")
print(r1, r2)

ENTER THE VALUE FOR a,b and c IN THE QUADRATIC EQUATION
a=6
b=5
c=8
THE ROOTS ARE=
(-15-38.76854394996026j) (-15+38.76854394996026j)

##Task 3:   

Write a Python Program to Convert Celsius To Fahrenheit

In [ ]:
c=float(input("ENTER THE VALUE FOR TEMPERATURE IN CELSIUS = "))
f= (c*1.8)+32
print ("THE TEMPERATURE IN FARENHEIT IS = ",f)

ENTER THE VALUE FOR TEMPERATURE IN CELSIUS = 5
THE TEMPERATURE IN FARENHEIT IS =  41.0

##Task 4:  

What will be the output of the following Python code? Justify. 

 

1) str="NMIMS BTech Artificial Intelligence" 

str[11:22] 

 

 

2) a=10 

  a = a + '2' 

a = a*2 
 
3)  x = 1234 

  print("%08d"%x)

In [ ]:
#4.1
str="NMIMS Btech Artifical Intelligence"
str[11:22]
#the output is artificial and it is so because we have used string slicing in this code so it slices the string from its 11th character starting from 0 upto its 22 - 1 th character

' Artifical '

In [ ]:
#4.2
a=10
a=a+'2'
a=a*2
'''
It throws a type error and this occurs because in the line 3 of the code we are trying to add an integer with a string and python does not support the use of
the operands being a string and an integer for a '+' operator

'''

TypeError: ignored

In [ ]:
#4.3
x=1234
print("%08d"%x)
# %08d is a string formatting operator which prints an 8 digit integer

00012456

##Task 5: 

Write a Python program to convert the distance (in feet) to inches, yards, and miles.

In [ ]:
f=float(input("ENTER THE DISTANCE IN FEET = "))
i=f*12
y=f/3
m=f/5280
print ("THE DISTANCE IN INCHES = ",i)
print("THE DISTNACE IN YARDS = ",y)
print("THE DISTANCE IN MILES = ",m)

ENTER THE DISTANCE IN FEET = 6
THE DISTANCE IN INCHES =  72.0
THE DISTNACE IN YARDS =  2.0
THE DISTANCE IN MILES =  0.0011363636363636363

##Task 6 :  

Write a Python program to solve (x + y) * (x + y). Read the values of x and y from the user. 

Expected Output : ((x + y) ^ 2)

In [ ]:
print("ENTER THE VALUES OF X AND Y")
x=int(input("x="))
y=int(input("y="))
sol=(x+y)*(x+y)
print("(({}+{})^2)={}".format(x,y,sol))

ENTER THE VALUES OF X AND Y
x=5
y=4
((5+4)^2)=81

##Task 7 : 


1.   Write a Python program to convert seconds to day, hour, minutes and seconds. 
2.  
Write a Python program to convert the number of days to years, months & days

In [ ]:
#7.1
s=float(input("ENTER THE SECONDS = "))
m=s//60
lefts=s%60
h=m//60
leftm=m%60
d=h//24
lefth=h%24
print("DAYS:{} HOURS: {} MINUTES: {} SECONDS: {}".format(d,lefth,leftm,lefts))

ENTER THE SECONDS = 86369
DAYS:0.0 HOURS: 23.0 MINUTES: 59.0 SECONDS: 29.0

In [ ]:
#7.2
d=float(input("ENTER THE NUMBER OF DAYS = "))
month=d//30
leftd=d%30
year=month//12
leftmonth=month%12
print("YEARS: {} MONTHS: {} DAYS {} ".format(year,leftmonth,leftd))

ENTER THE NUMBER OF DAYS = 365
YEARS: 1.0 MONTHS: 0.0 DAYS 5.0

##Task 8 :




1.   Write a Python Program to Calculate Area of an Ellipse
2.   Write a Python Program to Find the Surface Area of Cone.

In [ ]:
#8.1
import cmath
print ("ENTER THE VALUE OF MAJOR AXIS AND MINOR AXIS OF THE ELLIPSE ")
a=float(input("a = "))
b=float(input("b = "))
area=cmath.pi*a*b
print('THE AREA OF THE ELLIPSE IS = ',area)

ENTER THE VALUE OF MAJOR AXIS AND MINOR AXIS OF THE ELLIPSE
a = 5
b = 6
THE AREA OF THE ELLIPSE IS =  94.24777960769379

In [ ]:
#8.2
import cmath
print ("ENTER THE VALUE OF SLANT HEIGHT AND RADIUS OF CONE")
l=float(input("l="))
r=float(input("r="))
sa=cmath.pi*r*(r+l)
print ("THE SURFACE AREA OF THE CONE IS = ",sa)

ENTER THE VALUE OF SLANT HEIGHT AND RADIUS OF CONE
l=3
r=4
THE SURFACE AREA OF THE CONE IS =  87.96459430051421

 

##Task 9 :  

Write a Python program to display your birth date.  Eg : birth_date = (11, 12, 2014) 

Sample Output: Your Birthdate is  : 11 / 12 / 2014

In [ ]:
birth_date=(30,4,2002)
print ("Your Birthdate is: {}/{}/{}".format(birth_date[0],birth_date[1],birth_date[2]))

Your Birthdate is: 30/4/2002