Task 1:   

A shop will give a discount of 10% if the cost of the purchased quantity is more than 1000. 

One unit will cost 100. Write a program to take quantity as input from the user and print the total cost for the user.

In [ ]:
quant=int(input("THE QUANTITY OF PURCHASED UNITS: "))
cost= quant*100
if(cost>1000):
  cost= cost-(cost/10)
print ("THE TOTAL COST IS : {}".format(cost))

THE QUANTITY OF PURCHASED UNITS: 11
THE TOTAL COST IS : 990.0

 

Task 2:   

A school has the following rules for the grading system: 

Below 25 - F 

25 to 45 - E 

45 to 50 - D 

50 to 60 - C 

60 to 80 - B 

Above 80 - A 

Ask the user to enter marks and print the corresponding grade.

In [ ]:
marks= float(input("ENTER YOUR MARKS: "))
if(marks<25):
  grade = 'F'
elif (marks <=45):
  grade = 'E'
elif (marks<=50):
  grade='D'
elif (marks<=60):
  grade='C'
elif (marks<=80):
  grade='B'
elif (marks>80):
  grade="A"
print ("YOUR GRADE IS: {}".format(grade))

ENTER YOUR MARKS: 75
YOUR GRADE IS: B

Task 3:   

 

Ask users to enter age, gender ( M or F ), marital status ( Y or N ), and then using the following rules print their place of service. 

If the employee is female, then she will work only in urban areas. 

If an employee is a male and age is between 20 to 40 then he may work anywhere 

If the employee is male and the age is between 40 to 60 then he will work in urban areas only. 

And any other input of age should print "ERROR".

In [ ]:
age=int(input("ENTER YOUR AGE: "))
gen=input("ENTER YOUR GENDER M OR F: ")
mar=input("ENTER Y IF YOU ARE MARRIED OR N IF NOT MARRIED: ")
workplace=''
if(gen=='F'):
  workplace='urban'
elif(gen=="M" and 20<age<=40):
  workplace ="anywhere"
elif(gen=="M" and 40<age<60 ):
  workplace="urban"
else:
  print("ERROR")
if(workplace!=''):
  print("THE WORKPLACE IS: {}".format(workplace))

ENTER YOUR AGE: 12
ENTER YOUR GENDER M OR F: M
ENTER Y IF YOU ARE MARRIED OR N IF NOT MARRIED: N
ERROR

 

Task 4:  

Write a program to print BMI (Body Mass Index), calculator.

In [ ]:
bmi=float(input("ENTER YOUR BMI: "))
if(bmi<18.5):
  val='underweight'
elif(bmi<=25):
  val='normal'
elif(bmi<=30):
  val='overweight'
elif(bmi>30):
  val='obese'
print ("YOU ARE: {}".format(val))

ENTER YOUR BMI: 31
YOU ARE: obese

Task 5:   

Write a program to get the next day of a given date.(Also consider leap year) 

Expected Output : Given date : 25-02-2021 then next day is 26-02-2021.

In [ ]:
day=int(input("ENTER THE DAY: "))
month=int(input("ENTER THE MONTH: "))
year=int(input("ENTER THE YEAR: "))
if(year%4==0):
  if(year%100==0):
    if(year%400==0):
      cond=1
    else:
      cond=0
  else:
    cond=1
else:
  cond=0

l30=[4,6,9,11]
l31=[1,3,5,7,8,10,12]
if (month in l30):
  if(day<30):
    day+=1
  else:
    day=1
    month+=1  
elif(month in l31):
  if(day<31):
    day+=1
  elif(month<12):
    month+=1
    day=1
  else:
    year+=1
    month=1
    day=1
else:
  if(cond==0):
    if(day<28):
      day+=1
    else:
      day=1
      month+=1
  elif(cond==1):
    if(day<29):
      day+=1
    else:
      month+=1
      day=1
print("{}-{}-{}".format(day,month,year))

ENTER THE DAY: 29
ENTER THE MONTH: 2
ENTER THE YEAR: 2000
1-3-2000

Task 6 :  

Write a program to print Odd and Even numbers from the list of integers. Create 2 empty lists to save even and odd numbers accordingly.

In [ ]:
even=[]
odd=[]
l=[1,2,3,4,5,6,7,8,9,10,11,12,13]
for i in l :
  if (i%2==0):
    even.append(i)
  else:
    odd.append(i)
print("even list: {}".format(even))
print("odd list: {}".format(odd))

even list: [2, 4, 6, 8, 10, 12]
odd list: [1, 3, 5, 7, 9, 11, 13]

Task 7 : 

Write a program to check the user entered number is an Armstrong Number.

In [ ]:
no=input("ENTER THE NUMBER TO BE CHECKED: ")
l=len(no)
sum=0
for i in no:
  sum=sum+int(i)**l
if(sum==int(no)):
  print("IT IS AN ARMSTRONG NUMBER")
else:
  print("IT IS NOT AN ARMSTRONG NUMBER")

ENTER THE NUMBER TO BE CHECKED: 1634
IT IS AN ARMSTRONG NUMBER

Task 8 :  

Write a program to print out the decimal equivalents of 1/2,1/3,1/4,…1/10. 

Expected Output: 0.5, 0.333, 0.25………..0.125, 0.1

In [ ]:
for i in range(2,11):
  print(1/i)

0.5
0.3333333333333333
0.25
0.2
0.16666666666666666
0.14285714285714285
0.125
0.1111111111111111
0.1

Task 9: 

Write a program to count the number of even and odd numbers from a series of numbers. 

(Initialize Tuple )

In [ ]:
tup=(1,2,3,4,5,6,7,10,15,19,22)
ce=0
co=0
for i in tup:
  if (i%2==0):
    ce=ce+1
  else:
    co=co+1
print('THE COUNT FOR EVEN NUMBERS IS: {}'.format(ce))
print("THE COUNT FOR ODD NUMBERS IS: {}".format(co))

THE COUNT FOR EVEN NUMBERS IS: 5
THE COUNT FOR ODD NUMBERS IS: 6

Task 10: 

Write a program to display the multiplication table of 19. 

Expected Output: 19 * 1 = 19…19 * 10 = 190

In [ ]:
for i in range(1,11):
  mult= 19 *i
  print("19 * {} = {}".format(i,mult))

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

Task 11: 

Write a program to print the sum of the Series 1 + x/1 + x^2/2 + x^3/3 + .. + x^n/n. 

Test Case 1 : x = 3, n = 5→ sum = 86.35 

Test Case 2 : x = 5, n = 3→ sum = 60.17

In [ ]:
x=int(input("ENTER THE VALUE OF x: "))
n=int(input("ENTER THE VALUE OF n: "))
sum=1
for i in range(1,n+1):
  sum+=((x**i)/i) 
print (sum)

ENTER THE VALUE OF x: 5
ENTER THE VALUE OF n: 3
60.166666666666664


Task 12: 

Write a program to get the Fibonacci series between 0 to 100.

In [ ]:
num1=0
num2=1
num3=0
while (num3<101):
  print(num3)
  num1=num2
  num2=num3
  num3=num1+num2

0
1
1
2
3
5
8
13
21
34
55
89

Task 13:  

Write a program to print digits in reverse order of a number.

In [ ]:
no=input("ENTER THE NUMBRER TO BE REVERSED: ")
l=len(no)
sum=""
for i in no:
  sum=i+sum
print ("THE REVERSED NUMBER IS: {}".format(sum))

ENTER THE NUMBRER TO BE REVERSED: 15793
THE REVERSED NUMBER IS: 39751