Task 1:   

Write a python program to print list elements,  

1.   separated by commas. 
2.   every element on the new line.

In [ ]:
#1.1
newlist= [1,2,3,4,5]
print (*newlist, sep = ",")
#1.2
print (*newlist, sep = '\n')

1,2,3,4,5
1
2
3
4
5

Task 2:   

Write a python program to print a list by converting a list to a string.

In [ ]:
newlist=[1,2,3,4]
str1= str(newlist)
print (str1)

[1, 2, 3, 4]

Task 3:   

Write a python program to convert radian to degrees and vice versa.

In [ ]:
import math
r=float(input("ENTER VALUE IN RADIANS-"))
print ("THE VALUE IN DEGREES IS-{}".format(math.degrees(r)))
d=float(input("ENTER THE VALUE IN DEGREES-"))
print ("THE VALUE IN RADIANS IS-{}".format(math.radians(d)))

ENTER VALUE IN RADIANS-3.14
THE VALUE IN DEGREES IS-179.9087476710785
ENTER THE VALUE IN DEGREES-180
THE VALUE IN RADIANS IS-3.141592653589793

Task 4:  

Write a program to input 2 sides of a triangle and one angle. Find sine, cosine, tangent and hypotenuse.

In [ ]:
import math
s1=float(input("ENTER ONE SIDE OF THE TRIANGLE-"))
s2=float(input("ENTER THE OTHER SIDE OF THE TRIANGLE-"))
a1=float(input("ENTER THE ANGLE IN RADIANS-"))
print ("SINE IS -{}".format(math.sin(a1)))
print ("COSINE IS -{}".format(math.cos(a1)))
print("TANGENT IS -{}".format(math.tan(a1)))
print("HYPOTENUSE IS -{}".format(math.hypot(s1,s2)))

ENTER ONE SIDE OF THE TRIANGLE-3
ENTER THE OTHER SIDE OF THE TRIANGLE-4
ENTER THE ANGLE IN RADIANS-0
SINE IS -0.0
COSINE IS -1.0
TANGENT IS -0.0
HYPOTENUSE IS -5.0

Task 5:   

Write a Python program using mathematical functions to find 

1.   HCF of two numbers (User input)
2.   Factorial of a user given number.

1.   The absolute value of a user-given number.

In [ ]:
import math
#5.1
x1=int(input("ENTER THE FIRST NUMBER-"))
x2=int(input("ENTER THE SECOND NUMBER-"))
print ("THE HCF OF TWO NUMBERS IS -{}".format(math.gcd(x1,x2)))

ENTER THE FIRST NUMBER-3
ENTER THE SECOND NUMBER-6
THE HCF OF TWO NUMBERS IS -3
THE FACTORIAL OF THE FIRST NUMBER -6
THE ABSOLUTE VALUE OF THE FIRST NUMBER - 3

In [ ]:
#5.2
f1=int(input("ENTER THE NUMBER-"))
print ("THE FACTORIAL OF THE NUMBER -{}".format(math.factorial(f1)))

ENTER THE NUMBER-6
THE FACTORIAL OF THE NUMBER -720

In [ ]:
#5.3
a1=float(input("ENTER THE NUMBER-"))
print("THE ABSOLUTE VALUE OF THE FIRST NUMBER - {}".format(abs(a1)))

ENTER THE NUMBER--6.7
THE ABSOLUTE VALUE OF THE FIRST NUMBER - 6.7

Task 6 :  

1.Create a 'class_1' list and pass the elements  'Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yoshua Bengio'. 

2.Create a 'class_2' list and pass the elements 'Hilary Mason','Carla Gentry','Corinna Cortes'. 

3.Concatenate the 'class_1' and 'class_2' list. Store the values in a'new_class' variable. 

4.Print the 'new_class' variable to see the new list. 

5.Add a new element ‘Henry’ in the new list.  

6.Remove the 'Hilary' element. 

7.Create the following list for marks of 5 subjects Andrew= [98, 93, 90, 100, 92], Carla= [60, 65, 60, 75, 69], Hilary= [87, 50, 54, 77, 52] 

8.Find and display the percentage of all the students in a list. 

9.Andrew Ng turns out to be topper in class. Assign it to variable ‘topper’ 

10.Split the 'topper'  in 'first_name' and 'last_name'. 

11.Display the ‘full name’ concatenating the strings 'last_name' and 'first_name' strings.( add whitespace) 

12.Convert all the elements in the 'full_name' string to uppercase.

In [ ]:
#1
class_1=['Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yohua Bengio']
class_2=['Hilary Mason','Carla Gentry','Corinna Cortes']
new_class=class_1 + class_2
print (new_class)
new_class.append('Henry')
new_class.remove('Hilary Mason')
print (new_class) 
#2
Andrew= [98, 93, 90, 100, 92]
Carla= [60, 65, 60, 75, 69]
Hilary= [87, 50, 54, 77, 52]
p1= ((Andrew[0]+Andrew[1]+Andrew[2]+Andrew[3]+Andrew[4])/500)*100
print ("PERCENTAGE OF ANDREW IS -{}".format(p1))
p2=((Carla[0]+Carla[1]+Carla[2]+Carla[3]+Carla[4])/500)*100
p3=((Hilary[0]+Hilary[1]+Hilary[2]+Hilary[3]+Hilary[4])/500)*100
print("THE PERCENTAGE OF CARLA IS - {}".format(p2))
print("THE PERCENTAGE OF HILARY IS - {}".format(p3))
topper=new_class[1]
str1=str(topper).split()
first_name= (str1[0])
last_name= (str1[1])
full_name= first_name + " " + last_name
print (full_name)
print(full_name.upper())

['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yohua Bengio', 'Hilary Mason', 'Carla Gentry', 'Corinna Cortes']
['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yohua Bengio', 'Carla Gentry', 'Corinna Cortes', 'Henry']
PERCENTAGE OF ANDREW IS -94.6
THE PERCENTAGE OF CARLA IS - 65.8
THE PERCENTAGE OF HILARY IS - 64.0
Andrew Ng
ANDREW NG

Task 7 : 

1.Write a Python program to clone or copy a list 

2.Write a Python program to check if a Python list is empty

In [ ]:
#7.1
oldlist=[1,2,3,4,5,9,20]
nlist=oldlist.copy()
print (nlist)
#7.2
cont=1
l=[]
if(len(l)==0):
  print("IT IS AN EMPTY LIST")

[1, 2, 3, 4, 5, 9, 20]
IT IS AN EMPTY LIST

Task 8 :  

Tuple = ("NMIMS", [10, 20, 30], (5, 15, 25)) 

1.Access value 20  

2.Unpack the following tuple into 3 variables

In [ ]:
tup=("NMIMS",[10,20,30],(5,15,25))
#8.1
print(tup[1][1])
#8.2
(tup1,tup2,tup3)=tup
print(tup1)
print(tup2)
print(tup3)

20
NMIMS
[10, 20, 30]
(5, 15, 25)

Task 9: 

1.Write code to swap the following two tuples :   tuple1 = (11, 22)   tuple2 = (99, 88) 

Expected Output :  tuple1 = (99, 88)    tuple2 = (11, 22) 

 

2.tuple1 = (11, [22, 33], 44, 55) 

Modify the first item (22) of a list inside a following tuple to 2000

In [ ]:
#9.1
tuple1=(11,22)
tuple2=(99,88)
(temp1,temp2)=tuple1
tuple1=tuple2
tuple2=(temp1,temp2)
print("tuple1 = {}".format(tuple1))
print("tuple2 = {}".format(tuple2))
#9.2
tuple1=(11,[22,33],44,55)
(temp1,temp2,temp3,temp4)=tuple1
temp2[0]=2000
print(tuple1)

tuple1 = (99, 88)
tuple2 = (11, 22)
(11, [2000, 33], 44, 55)

Task 10: 

tuple1 = (11, 22, 33, 44, 55, 11, 66, 11) 

1.Write code to copy element 44 and 55 from the following tuple into a new tuple ‘tuple2’ 

2.Count the number of occurrences of item 11 in the tuple. 

3.Reverse the tuple.

In [ ]:
#10.1
tuple1=(11,22,33,44,55,11,66,11)
(t1,t2,t3,t4,t5,t6,t7,t8)=tuple1
tuple2=(t4,t5)
print(tuple2)
#10.2
count=0
for i in tuple1:
  if (i==11):
    count+=1
print("number of occurences of 11 in tuple1 is = {}".format(count))
#10.3
tuple1=(t8,t7,t6,t5,t4,t3,t2,t1)
print(tuple1)

(44, 55)
number of occurences of 11 in tuple1 is = 3
(11, 66, 11, 55, 44, 33, 22, 11)